{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="../../assets/dist/css/adminlte.min.css">
{% endblock %}
{% block title %}Page introuvable | Blog{% endblock %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../assets/aboutme/{{ aboutMe.picture }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ aboutMe.firstname }} {{ aboutMe.lastname|upper }}</h1>
                        <span class="subheading">{{ aboutMe.slogan }}</span>
                        <img src="../../assets/aboutme/{{ aboutMe.profilPicture }}" class="profil-picture" alt="profil picture">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="error-page">
                    <h2 class="headline text-warning"> 404</h2>
                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page introuvable.</h3>
                        <p>
                            Nous n'avons pas trouvé la page que vous aviez demandé.
                            Vous devriez retourner sur la page d'<a href="/">accueil</a>
                        </p>
                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </div>
        </div>
    </div>
{% endblock %}