{% extends 'base.html.twig' %}

{% block title %}Liste d'articles | Blog{% endblock %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../assets/aboutme/{{ aboutMe.picture }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ aboutMe.firstname }} {{ aboutMe.lastname|upper }}</h1>
                        <span class="subheading">{{ aboutMe.slogan }}</span>
                        <img src="../../assets/aboutme/{{ aboutMe.profilPicture }}" class="profil-picture" alt="profil-picture">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% include 'include/flashmessages.html.twig' %}
                {% for post in posts %}
                    <div class="post-preview text-center">
                        <a href="/article/{{ post.slug }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.resume }}
                            </h3>
                        </a>
                        <p class="post-meta">Posté le {{ post.createdAt|date("d/m/Y") }}</p>
                    </div>
                {% endfor %}
                <!-- Pagination -->
                <nav aria-label="Page navigation example mt-5">
                    <ul class="pagination justify-content-center">

                        <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                            <a class="page-link"
                               href="{% if page <= 1 %}#{% else %}/articles/page/{{ prev }}{% endif %}">Précédent</a>
                        </li>
                        {% for i in 1.. totalPages %}
                            <li class="page-item {% if page == i %}active{% endif %}">
                                <a class="page-link" href="{% if page == i %}#{% else %}/articles/page/{{ i }}{% endif %}"> {{ i }} </a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if page >= totalPages %}disabled{% endif %}">
                            <a class="page-link"
                               href="{% if page >= totalPages %}#{% else %}/articles/page/{{ next }}{% endif %}">Suivant</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}