{% extends 'admin/base.html.twig' %}

{% block style %}
    <!-- DataTables -->
    <link rel="stylesheet" href="../../../assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block title %}Liste des commentaires non approuvés | Administration{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include 'include/flashmessages.html.twig' %}
                        <h1>Commentaires à approuver</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/tableau-de-bord">Accueil</a></li>
                            <li class="breadcrumb-item active">Commentaires</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste des commentaires à approuver</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Utilisateur</th>
                                        <th>Contenu</th>
                                        <th>Date</th>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for comment in comments %}
                                        <tr>
                                            <td>{{ comment.user.pseudo }}</td>
                                            <td>{{ comment.content }}</td>
                                            <td>{{ comment.createdAt|date("d/m/Y") }}</td>
                                            <td><i class="nav-icon fas fa-check green grow validate-comment" data-id-comment="{{ comment.id }}"></i></td>
                                            <td><i class="nav-icon fas fa-comment-slash text-danger grow unvalidate-comment" data-id-comment="{{ comment.id }}"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../../assets/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $("#example1").DataTable({
                "responsive": true,
                "order": [],
                "columns": [
                    { responsivePriority: 1 },
                    { responsivePriority: 3 },
                    { responsivePriority: 5 },
                    { responsivePriority: 4 },
                    { responsivePriority: 2 }
                ],
                "autoWidth": false,
                "language": {
                    "emptyTable":     "Aucun article trouvé",
                    "lengthMenu": "Afficher : _MENU_ articles",
                    "infoEmpty":      "Affiche de 0 à 0 sur 0 articles",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ articles",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            });
        });
    </script>
{% endblock %}