{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord | Administration{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Tableau de bord</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Derniers articles</h3>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-center">
                  <thead>
                  <tr>
                    <th>Titre</th>
                    <th>Date création</th>
                    <th>Date mise à jour</th>
                    <th>Voir</th>
                  </tr>
                  </thead>
                  {% for post in posts %}
                  <tbody>
                  <tr>
                    <td>
                      {{ post.title }}
                    </td>
                    <td>{{ post.createdAt|date("d/m/Y") }}</td>
                    {% if post.updatedAt is not empty %}
                      <td>{{ post.updatedAt|date("d/m/Y") }}</td>
                      {% else %}
                      <td> </td>
                    {% endif %}
                    <td>
                      <a href="/article/{{ post.slug }}" class="text-muted">
                        <i class="fas fa-eye"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Derniers utilisateurs inscrits</h3>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-center">
                  <thead>
                  <tr>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Date d'inscription</th>
                  </tr>
                  </thead>
                  {% for user in users %}
                  <tbody>
                  <tr>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.dateRegistered|date('d/m/Y') }}</td>
                  </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Derniers commentaires soumis</h3>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-center">
                  <thead>
                  <tr>
                    <th>Utilisateur</th>
                    <th>Contenu</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  {% for comment in comments %}
                    <tbody>
                    <tr>
                      <td>{{ comment.user.pseudo }}</td>
                      <td>{{ comment.content }}</td>
                      <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                      <td></td>
                    </tr>
                    </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<!-- ./wrapper -->
{% endblock %}
{% block script %}
  <!-- OPTIONAL SCRIPTS -->
  <script src="../../../assets/plugins/chart.js/Chart.min.js"></script>
  <script src="../../../assets/dist/js/demo.js"></script>
  <script src="../../../assets/dist/js/pages/dashboard3.js"></script>
{% endblock %}