{% extends 'admin/base.html.twig' %}

{% block style %}
    <!-- DataTables -->
    <link rel="stylesheet" href="../../../assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block title %}Liste d'articles | Administration{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include 'include/flashmessages.html.twig' %}
                        <h1>Articles</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/tableau-de-bord">Accueil</a></li>
                            <li class="breadcrumb-item active">Articles</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row new-card">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <a type="button" class="btn btn-block btn-primary" href="/admin/articles/nouveau">Créer un un article</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste d'articles</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="posts" class="table table-bordered table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Résumé</th>
                                        <th>Créée le</th>
                                        <th>Mis à jour le</th>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for post in posts %}
                                        <tr>
                                            <td>{{ post.title }}</td>
                                            <td>{{ post.resume }}</td>
                                            <td>{{ post.createdAt|date("d/m/Y") }}</td>
                                            {% if post.updatedAt is not empty %}
                                                <td>{{ post.updatedAt|date("d/m/Y") }}</td>
                                            {% else %}
                                                <td> </td>
                                            {% endif %}
                                            <td><a href="/admin/article/{{ post.id }}" class="nav-icon fas fa-pen grow"></a></td>
                                            <td><i class="nav-icon fas fa-archive text-blue grow archive-post" data-id-post="{{ post.id }}"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste d'articles archivés</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="posts-archived" class="table table-bordered table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Résumé</th>
                                        <th>Créée le</th>
                                        <th>Archivé le</th>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for post in postsArchived %}
                                        <tr>
                                            <td>{{ post.title }}</td>
                                            <td>{{ post.resume }}</td>
                                            <td>{{ post.createdAt|date("d/m/Y") }}</td>
                                            <td>{{ post.archivedAt|date("d/m/Y") }}</td>
                                            <td><i class="nav-icon fas fa-box-open text-blue grow unarchive-post" data-id-post="{{ post.id }}"></i></td>
                                            <td><i class="nav-icon fas fa-trash text-danger grow delete-post" data-id-post="{{ post.id }}"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../../assets/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $("#posts").DataTable({
                "responsive": true,
                "order": [],
                "columns": [
                    { responsivePriority: 1 },
                    { responsivePriority: 2 },
                    { responsivePriority: 5 },
                    { responsivePriority: 6 },
                    { responsivePriority: 3 },
                    { responsivePriority: 4 }
                ],
                "autoWidth": false,
                "language": {
                    "emptyTable":     "Aucun article trouvé",
                    "lengthMenu": "Afficher : _MENU_ articles",
                    "infoEmpty":      "Affiche de 0 à 0 sur 0 articles",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ articles",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            });
        });
        $(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $("#posts-archived").DataTable({
                "responsive": true,
                "order": [],
                "columns": [
                    { responsivePriority: 1 },
                    { responsivePriority: 2 },
                    { responsivePriority: 5 },
                    { responsivePriority: 6 },
                    { responsivePriority: 3 },
                    { responsivePriority: 4 }
                ],
                "autoWidth": false,
                "language": {
                    "emptyTable":     "Aucun article trouvé",
                    "lengthMenu": "Afficher : _MENU_ articles",
                    "infoEmpty":      "Affiche de 0 à 0 sur 0 articles",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ articles",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            });
        });
    </script>
{% endblock %}