{% extends 'admin/base.html.twig' %}

{% block style %}
    <!-- DataTables -->
    <link rel="stylesheet" href="../../../assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block title %}Liste d'utilisateurs | Administration{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include 'include/flashmessages.html.twig' %}
                        <h1>Utilisateurs</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/tableau-de-bord">Accueil</a></li>
                            <li class="breadcrumb-item active">Utilisateurs</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste d'utilisateurs</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="users" class="table table-bordered table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Pseudo</th>
                                        <th>Email</th>
                                        <th>Inscrit le</th>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.pseudo }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.dateRegistered|date("d/m/Y") }}</td>
                                            <td><a href="/admin/utilisateur/{{ user.id }}" class="nav-icon fas fa-user-edit grow"></a></td>
                                            <td><i class="nav-icon fas fa-user-slash text-danger grow deactivate-user" data-id-user="{{ user.id }}"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste d'utilisateurs désactivés</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="users-deactivated" class="table table-bordered table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Pseudo</th>
                                        <th>Email</th>
                                        <th>Désactivé le</th>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in usersDeactivated %}
                                        <tr>
                                            <td>{{ user.pseudo }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.deactivatedAt|date("d/m/Y") }}</td>
                                            <td><a href="/admin/utilisateur/{{ user.id }}" class="nav-icon fas fa-user-edit grow"></a></td>
                                            <td><i class="nav-icon fas fa-user-check grow green reactivate-user" data-id-user="{{ user.id }}"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../../assets/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $("#users").DataTable({
                "responsive": true,
                "order": [],
                "columns": [
                    { responsivePriority: 3 },
                    { responsivePriority: 4 },
                    { responsivePriority: 5 },
                    { responsivePriority: 2 },
                    { responsivePriority: 1 }
                ],
                "autoWidth": false,
                "language": {
                    "emptyTable":     "Aucun utilisateur trouvé",
                    "lengthMenu": "Afficher : _MENU_ utilisateurs",
                    "infoEmpty": "Affiche de 0 à 0 sur 0 utilisateurs",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ utilisateurs",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            });
        });
        $(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $("#users-deactivated").DataTable({
                "responsive": true,
                "order": [],
                "columns": [
                    { responsivePriority: 3 },
                    { responsivePriority: 4 },
                    { responsivePriority: 5 },
                    { responsivePriority: 2 },
                    { responsivePriority: 1 }
                ],
                "autoWidth": false,
                "language": {
                    "emptyTable":     "Aucun utilisateur trouvé",
                    "lengthMenu": "Afficher : _MENU_ utilisateurs",
                    "infoEmpty": "Affiche de 0 à 0 sur 0 utilisateurs",
                    "info": "Affiche _START_ à _END_ sur _TOTAL_ utilisateurs",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Précédent",
                        "next": "Suivant"
                    }
                }
            });
        });
    </script>
{% endblock %}